body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    background-color: #BAA0FF;
    color: white;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

section, aside {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #E2E2E2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

aside {
    width: 100%;
}

#coctelImagen {
    max-width: 100%;
    max-height: 400px;
    display: block;
    margin: 0 auto 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    background-color: #8457FD;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}

button:hover {
    background-color: #555;
}

.loader {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-left-color: #333;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
    display: none; /* Ocultar el loader por defecto */
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    section, aside {
        width: 100%;
    }

    #coctelImagen {
        max-height: 300px;
    }
}
